In [14]:
# Import libraries
import numpy as np
import pandas as pd

# Import dataset about Covid-19 cases in Chile from Chilean government's GitHub repo
chile_cases = pd.read_csv(
    'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv'
)

chile_cases.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,...,2020-04-13,2020-04-15,2020-04-17,2020-04-20,2020-04-24,2020-04-27,2020-05-01,2020-05-04,2020-05-08,Tasa
0,Arica y Parinacota,15,Arica,15101,247552.0,6.0,6.0,12.0,41.0,63.0,...,115.0,124.0,134.0,166.0,224.0,270.0,297.0,310.0,328.0,132.5
1,Arica y Parinacota,15,Camarones,15102,1233.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arica y Parinacota,15,General Lagos,15202,810.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Arica y Parinacota,15,Putre,15201,2515.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Tarapacá,1,Alto Hospicio,1107,129999.0,0.0,0.0,0.0,5.0,6.0,...,14.0,15.0,16.0,27.0,39.0,55.0,77.0,128.0,161.0,123.8

In [15]:
# First look at the data: 

def first_look (df):
    """
    Provides useful information about a dataframe. 
    
    Input: 
        Pandas dataframe
        
    Output: 
        Dataframe name
        Dataframe shape
        Dataframe NaNs
        Dataframe describe
    """
    # Enable function to print dataframes name. 
    def get_df_name(df): 
        name =[x for x in globals() if globals()[x] is df][0]
        return name
    
    print('Information for DataFrame ' + get_df_name(df))
    print('The shape of the Dataframe is: {}'.format(df.shape))
    print('---\n Information about NaNs:')
    print((np.sum(df.isna() == True))/df.shape[0])
    print('---\n Pandas describe')
    print(df.describe())
    print('---')

#first_look(chile_cases)

In [36]:
# next stepts: Define list of dates ([5:-1]), dann Blick auf die aggregierten Werte für alle regiones, dann Blick auf 
# die Werte für die Comunas auf dem Santiago Level

date_list = chile_cases.columns[5:-1]

chile_cases_region = pd.DataFrame(index = range(len(chile_cases)), columns = chile_cases.columns)

for i in range(len(date_list)): 
    result = chile_cases.groupby('Region').agg({date_list[i]: 'sum'}).reset_index()
    chile_cases_region.loc[i] = result
    print(result)
    
print(chile_cases_region)

#https://stackoverflow.com/questions/32001596/valueerror-when-adding-row-to-dataframe

ValueError: Incompatible indexer with DataFrame